<h1>{{titleIndex}}</h1>
<app-additem></app-additem>
<div class="card">
  <ol>
    <li>{{title}}
      <button ><i class="far fa-trash-alt"></i></button> 
      <button  ><i class="far fa-check-circle"></i></button> 
      <!-- <button  ><i class="fas fa-check-circle"></i></button>  -->
    </li>
  </ol>
</div>

<router-outlet></router-outlet>

<!-- <button *ngIf="!todo.status" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button> 
      <button *ngIf="todo.status" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>  -->